version: '3.8'

services:
  backend:
    image: diasraibek/url-shortener-backend:latest
    container_name: url-backend
    expose:
      - "8000"
    ports:
      - "8000:8000"
    restart: unless-stopped

  frontend:
    image: diasraibek/url-shortener-frontend:latest
    container_name: url-frontend
    depends_on:
      - backend
    ports:
      - "3000:80"
    restart: unless-stopped
